.list-group-item{
    background-color: transparent!important;
    /*border-bottom: 1px solid #5e6e82!important;*/
}
.cart-info{
    text-align: center;
    margin:auto!important;


}
.cart-info img{
    background-color: rgba(0, 112, 255, 0.28);
    width: 150px;
    height: 150px;
}
.dark-mode .cart-info{
    color: white!important;
}
.dark-mode  hr{
    background-color: #2c7be5!important;
}
.dark-mode .total-price{
    color: white!important;

}