.profile{
    width: 90%;
    max-width: 400px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    text-align: center;
}

.profile p {
    text-align: left;
}

.profile > span{
    color: blue;
    margin-top: 30px;
    cursor: pointer;
}
.card-img{
    width: 150px!important;
    height: 150px;
    border-radius: 100px!important;
    margin: 10px auto;
}
.dark-mode .list-group-item{
    color: white;
}